
body {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	background-image: url('../../static/mountain.jpg');	
	background-size: cover;
	background-repeat:no-repeat;
	color: white;

}
a:link{
	text-decoration:none;
}

.main{
	width: 40%;
	margin: 0 auto;
	font-size: 17pt;
}
.ml{
	color:yellow;
}	
  
.topnav {
	overflow: hidden;
	background-color: transparent;
}
  
.topnav a {
	float: left;
	background-color: transparent;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17pt;
}
  


.navContainer{
	display: flex;
	justify-content: center;
	
}

.titleContainer{
	padding-left: 20%;
}
  

